.also-section {
  width: var(--mobile);
  margin: auto;
}

.also-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.857143px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.also-container {
  display: flex;
  flex-direction: column;
  gap: 56px;
  margin-bottom: 170px;
}

.also-item {
  height: 265px;
}

.also-item__img {
  height: 120px;
  width: 100%;
  object-fit: contain;
}

.also-item__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 1.71429px;
  text-transform: uppercase;
  color: var(--black);
}

@media screen and (min-width: 768px) {
  .also-section {
    width: 691px;
    margin-bottom: 25vh;
  }
  .also-title {
    font-size: 32px;
    letter-spacing: 1.14286px;
    margin-bottom: 56px;
  }

  .also-container {
    flex-direction: row;
    justify-content: center;
    gap: 11px;
  }

  .also-item__img {
    height: 318px;
    width: 223px;
  }

  .also-item__name {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .also-section {
    width: 1110px;
  }
  .also-title {
    letter-spacing: 1.14286px;
    margin-bottom: 64px;
  }

  .also-item__img {
    width: 350px;
    height: 318px;
  }
}