.section-company {
  width: var(--mobile);
  margin-inline: auto;
  margin-bottom: 120px;
}

.company-img {
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  background-image: url('../../assets/shared/mobile/image-best-gear.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.section-company__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 32px;
}

.section-company__title > strong {
  color: var(--orange);
}

.section-company__paragraph {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--black);
  mix-blend-mode: normal;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .section-company {
    width: 689px;
  }

  .company-img {
    background-image: url('../../assets/shared/tablet/image-best-gear.jpg');
    background-size: contain;
    overflow: hidden;
    width: 689px;
  }

  .section-company__title {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.42857px;
    margin-top: 63px;
    margin-inline: auto;
    width: 80%;
  }
}

@media screen and (min-width: 1440px) {
  .section-company {
    width: 1110px;
    height: 588px;
    display: flex;
    gap: 125px;
  }

  .company-img {
    background-image: url('../../assets/shared/desktop/image-best-gear.jpg');
    background-size: contain;
    overflow: hidden;
    width: 540px;
    height: 100%;
    order: 2;
  }

  .section-company__container {
    width: 445px;
    height: fit-content;
    margin: auto;
    order: 1;
  }

  .section-company__title {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.42857px;
    margin-top: 63px;
    margin-inline: auto;
    width: 100%;
    text-align: left;
  }

  .section-company__paragraph {
    text-align: left;
  }

}