.categories-section {
  margin-bottom: 120px;
  position: relative;
  z-index: 100;
}

.category-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-inline: auto;
  width: 327px;
  height: 155px;
  margin-top: 68px;
  border-radius: 8px;
  background-color: var(--white2);
}

.category-section__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(-10%);
  padding: 0;
}

.category-section__link:hover {
  cursor: pointer;
}

.category-section__link:hover .wrapper .btn{
  color: var(--orange);
}

.category-header {
  margin-inline: auto;
  width: 147px;
  height: 133px;
  transform: translateY(20%);
}


.category-img {
  display: flex;
  margin-inline: auto;
  height: 90%;
}

.wrapper {
  height: 109px;
  display: flex;
  flex-direction: column;
}

.category-title {
  font-weight: 700;
  font-size: var(--fs7);
  line-height: 20px;
  text-align: center;
  letter-spacing: 1.07143px;
  text-transform: uppercase;
  color: var(--black);
}

.chevron-right {
  padding-left: 13px;
  color: var(--orange);
  font-size: 13px;
}

@media screen and (max-width: 767px) {
  .category-card:nth-child(1) {
    margin-top: 92px;
  }
}

@media screen and (min-width: 768px) {
  .categories-section {
    width: var(--tablet);
    margin-block: 96px;
    display: flex;
    margin-inline: auto;
  }

  .categories-container {
    display: flex;
    margin-inline: auto;
    max-width: 689px;
    gap: 10px;
  }

  .category-card {
    width: 223px;
    height: 165px;
  }

  .category-header {
    transform: translateY(20%);
  }
}

@media screen and (min-width: 1440px) {
  .categories-section {
    max-width: 1110px;
    margin-top: 200px;
    margin-bottom: 168px;
    gap: 30px;
  }

  .categories-container {
    max-width: 1110px;
    gap: 30px;
  }

  .category-card {
    width: 350px;
    height: 204px;
  }

  .category-header {
    transform: translateY(0);
  }

  .category-title {
    font-size: var(--fs6);
    line-height: 25px;
    letter-spacing: 1.28571px;
  }
}