.background {
  height: 100%;
  width: 100%;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, .4);
  /*background-color: black;*/
  /*opacity: .4;*/
  z-index: 100;
}

.modal {
  padding: 32px;
  background-color: var(--white);
  border-radius: 8px;
  position: relative;
  top: 50%;
  left: 50%;
  /*margin: auto;*/
  transform: translate(-50%, -50%);
  width: 327px;
}

.checkout-icon {
  height: 64px;
  width: 64px;
}

.checkout-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.857143px;
  text-transform: uppercase;
  margin-block: 23px 0;
}

.checkout-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
  margin-block: 16px 24px;
}

.grey-container {
  background-color: var(--white2);
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  padding: 24px;
  border-radius: 8px 8px 0 0;
}

.grey-container__header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 27px;
  grid-template-rows: .5fr .5fr;
}

.item-thumb {
  width: 50px;
  height: 50px;
  object-fit: contain;
  grid-row: 1 / span2;
  margin: auto;
}

.item-info {
  grid-column: 2 / auto;
  display: flex;
  gap: 27px;
  align-items: center;
}

.item-name {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px
}

.item-quantity {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: right;
  opacity: 0.5;
}

.item-price {
  grid-column: 2;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  opacity: 0.5;
}

.hr {
  width: 100%;
  opacity: .08;
}

.grey-container__footer {
  margin: auto;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.214286px;
  opacity: 0.5;
}

.total-price {
  height: 92px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--black);
  color: var(--white);
  text-transform: uppercase;
  padding: 15px 24px;
  border-radius: 0 0 8px 8px;
}

.total-price__text {
  opacity: .5;
  font-weight: 500;
  font-size: 15px;
}

.total-price__number {
  opacity: 1;
  font-weight: 700;
  font-size: 18px;
}

.checkout-button {
  width: 100%;
  border: 0;
  color: var(--white);
  background-color: var(--orange);
  padding-block: 15px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 47px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: var(--orange2);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 540px;
  }
  .checkout-title {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.14286px;
    margin-block: 33px 0;
  }
  .checkout-text {
    margin-block: 24px 33px;
  }
  .card {
    display: flex;
    min-height: 140px;
  }
  .grey-container {
    border-radius: 8px 0 0 8px;
  }
  .total-price {
    border-radius: 0 8px 8px 0;
    width: 198px;
    height: auto;
    justify-content: center;
    gap: 8px;
  }
}
