.link-back {
  width: var(--mobile);
  margin: 24px auto 16px 0;
}

.link-back > a {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: var(--black);
  mix-blend-mode: normal;
  opacity: 0.5;
}

.product-section {
  width: var(--mobile);
  margin: auto;
}

.product-header {
  height: 327px;
  border-radius: 8px;
  overflow: hidden;
}

.product-image {
  height: 100%;
  margin-inline: auto;
  display: flex;
}

.product-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--black);
}

.product-description {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: var(--black);
  mix-blend-mode: normal;
  opacity: 0.5;
}

.product-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  color: var(--black);
}

.product-btn__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.product-features {

}

.product-features__title, .product-includes__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.857143px;
  text-transform: uppercase;
}

.product-features__text {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: var(--black);
  mix-blend-mode: normal;
  opacity: 0.5;
}

.product-includes {
  margin-top: 88px;
}

.product-includes__qty {
  color: var(--orange);
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
}

.product-includes__item {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: var(--black);
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-left: 24px;
}

.product-gallery {
  margin-top: 88px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-gallery__1, .product-gallery__2 {
  height: 174px;
}

.product-gallery__3 {
  height: 368px;
}

.product-gallery__1 > picture > img,
.product-gallery__2 > picture > img,
.product-gallery__3 > picture > img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .link-back {
    margin-top: 33px;
    margin-bottom: -45px;
  }

  .product-section {
    display: flex;
    flex-wrap: wrap;
    row-gap: 69px;
    width: 690px;
  }

  .product-header {
    height: 480px;
    width: 281px;
  }

  .product-wrapper {
    width: 339px;
    margin-block: auto;
    margin-left: auto;
  }

  .product-features {
    margin-top: 120px;
  }

  .product-features__title {
    margin-top: 0;
  }

  .product-includes {
    width: 100%;
    display: flex;
    margin-top: 120px;
  }

  .product-includes__title {
    width: 350px;
    margin-top: 0;
  }

  .product-includes > ul {
    margin-top: 0;
  }

  .product-gallery {
    height: 368px;
    width: 100%;
    margin-top: 120px;
    flex-wrap: inherit;
  }

  .product-gallery__1, .product-gallery__2 {
    width: 277px;
    height: 174px;
  }

  .product-gallery__3 {
    width: 395px;
  }
}

@media screen and (min-width: 1440px) {
  .link-back {
    margin-top: 79px;
    margin-bottom: 0;
  }

  .product-section {
    width: 1110px;
  }

  .product-header {
    width: 540px;
    height: 560px;
  }

  .product-wrapper {
    width: 445px;
  }

  .product-title {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.42857px;
  }

  .product-wrapper > button {
    margin-left: 16px;
  }

  .product-features {
    width: 635px;
  }

  .product-features__title, .product-includes__title {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.14286px;
  }

  .product-includes {
    width: 350px;
    flex-direction: column;
    margin-left: 125px;
  }

  .product-gallery {
    height: 592px;
    gap: 32px;
  }

  .product-gallery__1, .product-gallery__2 {
    width: 445px;
    height: 280px;
  }

  .product-gallery__3 {
    width: 635px;
    height: 592px;
  }
}

