.category-section {
  margin-inline: auto;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: var(--black);
  color: var(--white);
  padding-block: 32px;
  margin-top: 0;
}

.section-list {
  width: var(--mobile);
  margin-inline: auto;
}

.product-card {
  width: 100%;
  margin-bottom: 120px;
}

.product-thumb {
  height: 352px;
  width: 100%;
  object-fit: contain;
}

.product-text__wrapper {
  margin-top: 32px;
  text-align: center;
}

.product-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 0;
}

.product-description {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: var(--black);
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-block: 24px;
}

@media screen and (min-width: 768px) {
  .section-list {
    width: 689px;
  }

  .section-list {
    margin-top: 120px;
  }

  .product-card {
    width: 100%;
  }

  .product-text__wrapper {
    width: 572px;
    margin-inline: auto;
  }

  .product-title {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.42857px;
    width: 70%;
    margin-inline: auto;
  }
  .product-description {
    margin-top: 32px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .section-list {
    width: 1110px;
    margin-top: 160px;
  }

  li:nth-child(even) > .product-card {
    flex-direction: row-reverse;
  }

  .product-card {
    display: flex;
    gap: 125px;
    height: 560px;
  }

  .product-thumb {
    width: unset;
    height: 100%;
  }

  .product-text__wrapper {
    text-align: left;
    width: 445px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
  }

  .product-title {
    margin-inline: 0;
    margin-block: 0;
  }

  .product-description {
    margin-bottom: 40px;
  }

  .product-text__wrapper > button {
    margin-left: 0;
    margin-top: 0;
  }
}

