.footer {
  background-color: var(--black2);
  text-align: center;
  color: var(--white);
  position: relative;
}

.footer-border {
  position: absolute;
  outline: 2px solid var(--orange);
  left: 50%;
  transform: translateX(-50%);
  top: 2px;
  width: 104px;
}

.container {
  position: relative;
  width: var(--mobile);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 52px 0 38px;
}

.brand {
  display: flex;
  margin-inline: auto;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.nav-list__item-link {
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--white);
}

.nav-list__item-link:hover {
  color: var(--orange);
}

.footer-social {
  display: flex;
}

.footer-social__list {
  display: flex;
  margin-inline: auto;
  gap: 16px;
  align-items: center;
}

.footer-social__list > li {
  display: flex;
}

.footer-social__list-icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  mask-size: contain;
}

.footer-social__list-icon:hover {
  background-color: var(--orange);
}

.fb {
  mask: var(--facebookIcon);
  mask-repeat: no-repeat;
  background-color: var(--white);
}
.twitter {
  mask: var(--twitterIcon);
  mask-repeat: no-repeat;
  background-color: var(--white);
  margin-top: 4px;
}
.insta {
  mask: var(--instagramIcon);
  mask-repeat: no-repeat;
  background-color: var(--white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

@media screen and (min-width: 768px) {
  .footer {
    text-align: left;
    position: relative;
  }

  .footer-border {
    outline: 2px solid var(--orange);
    left: 0;
    transform: translateX(0%);
  }

  .container {
    width: 689px;
    position: relative;
  }

  .brand {
    margin-left: 0;
  }

  .footer-list {
    flex-direction: row;
    gap: 34px;
  }

  .footer-wrapper {
    flex-direction: row;
  }

  .footer-copyright {
    width: fit-content;
    display: flex;
    margin-block: auto;
  }

  .footer-social {
    margin-left: auto;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1110px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .brand > img {
    object-fit: contain;
  }

  .footer-text {
    width: 540px;
  }

  .footer-wrapper {
    width: 100%;
  }

  .footer-social {
    transform: translateY(-150%);
  }
}
