@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

:root {
  /* colors */
  --black: hsl(0, 0%, 0%);
  --black2: hsl(0, 0%, 6%);
  --black3: #191919;
  --white: hsl(0, 0%, 100%);
  --white2: hsl(0, 0%, 95%);
  --white3: hsl(0, 0%, 98%);
  --orange: hsl(22, 65%, 57%);
  --orange2: hsl(21, 94%, 75%);

  /* font */
  --manrope: 'Manrope', sans-serif;

  /* font-size */
  --fs1: 56px;
  --fs2: 40px;
  --fs2_5: 36px;
  --fs3: 32px;
  --fs4: 28px;
  --fs5: 24px;
  --fs6: 18px;
  --fs7: 15px;
  --fs8: 14px;
  --fs9: 13px;

  /* width % */
  --mobile: 84.5333%;
  --tablet: 89.7135%;
  --desktop: 77.0833%;

  /* footer icons */
  --facebookIcon: url(./assets/shared/desktop/icon-facebook.svg);
  --twitterIcon: url(./assets/shared/desktop/icon-twitter.svg);
  --instagramIcon: url(./assets/shared/desktop/icon-instagram.svg);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--manrope);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFAFA;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* buttons */
button {
  position: relative;
  z-index: 1;
}

.btn {
  border: 0;
  background-color: var(--orange);
  padding: 0;
  display: flex;
  margin: 24px auto 0;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--orange2);
}

.btn-link, .btn-add-cart {
  color: var(--white);
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px 31px;
}

.btn-black__plain {
  border: 1px solid var(--black);
  padding: 0;
  display: flex;
  margin: 24px auto 0;
  color: var(--white);
  background-color: var(--black);
}

.btn-black__plain:hover {
  background-color: #4C4C4C;
  border: 1px solid #4C4C4C;

}

.btn-black {
  border: 1px solid var(--black);
  padding: 0;
  display: flex;
  margin: 24px auto 0;
  background-color: transparent;
}

.btn-black:hover {
  background-color: var(--black);
}

.btn-black > .btn-link {
  color: var(--black);
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-black:hover > .btn-link {
  color: var(--white);
}

.btn-transparent {
  border: 0;
  padding: 0;
  display: flex;
  margin: 0 auto;
  background-color: transparent;

  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--black);
  opacity: 0.5;
}

.btn-transparent:hover {
  cursor: pointer;
  color: red;
}

@media screen and (min-width: 1440px) {
  .btn-transparent > .btn-link {
    margin-bottom: 30px;
  }
}

/* class from design */

.h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  color: var(--white);
}

.body-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}

.outline {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: var(--white);
  mix-blend-mode: normal;
  opacity: 0.5;
}

.overline {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: var(--orange);
  margin-top: 32px;
}

/* hide arrow in input of type number for chrome & firefox */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}